<div class="container">

    <div>
        <h3>Login to your account!</h3>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label style="color:goldenrod">Enter your username</mat-label>
            <input #username (change)="onUsernameChange($event)" matInput type="text">
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field appearance="fill">
            <mat-label style="color:goldenrod" >Enter your password</mat-label>
            <input (change)="onPasswordChange($event)" matInput [type]="!passwordVisibility ? 'password' : 'text'" >
            <button mat-icon-button matSuffix (click)="passwordVisibility = !passwordVisibility" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordVisibility">
                <mat-icon>{{!passwordVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label style="color:goldenrod">Select your role</mat-label>
            <mat-select style="color:goldenrod" [(value)]="selectedRole">
              <mat-option style="color:whitesmoke" value="users">User</mat-option>
              <mat-option style="color:whitesmoke" value="employees">Employee</mat-option>
              <mat-option style="color:whitesmoke" value="admin">Admin</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div *ngIf="wrongCredentialsWarn" class="warning-message">
        <mat-icon color="warn">warning</mat-icon>
        <p>Wrong credentials!</p>
    </div>

    <div>
        <button (click)="onLoginForm()" mat-raised-button color="accent">
            Login
        </button>
    </div>

    <div>
        Don't have an account?
        <button mat-button color="accent" (click)="openRegisterForm()">
            Register
        </button>
    </div>

</div>